# Application Environment Variables
{% for key, value in app_env.items() %}
{{ key }}={{ value }}
{% endfor %}

# Runtime
APP_VERSION={{ app_version }}
APP_PORT={{ app_port }}
WORKERS={{ app_workers }}
WSGI={{ app_wsgi }}

# Runtime settings
PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1
