[defaults]
# Configuration générale
inventory = inventory/hosts.ini
host_key_checking = False
deprecation_warnings = False

# Comportement par défaut
become_method = sudo
command_warnings = False
force_color = True
display_skipped_hosts = False
display_ok_hosts = True

# Logs
log_path = /tmp/ansible.log

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
