server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;
    root {{ app_home }};

    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ /\.ht {
        deny all;
    }

    # Monitoring endpoint
    {% if enable_monitoring %}
    location /health {
        access_log off;
        return 200 "OK\n";
        add_header Content-Type text/plain;
    }
    {% endif %}

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;

    location = /50x.html {
        root /usr/share/nginx/html;
    }
}
