[defaults]
# Inventaire par défaut
inventory = inventory.yml

# Connexion SSH
host_key_checking = False
remote_user = root
private_key_file = ~/.ssh/id_rsa
remote_port = 22

# Parallélisme (nombre de tâches simultanées)
forks = 5

# Logs
log_path = /tmp/ansible.log

# Optimisations
pipelining = True
transport = ssh
gathering_facts = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 86400

# Strategy par défaut
strategy = linear

# Timeout
timeout = 20

[inventory]
# Parsing du YAML
enable_plugins = yaml, ini, csv

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = False
